<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  
  <p>Hello ,</p>
  <h1><%= @title %></h1> 
  <p><%= @body %></p>
  <% if @image_url.present? %>
    <img src="<%= @image_url %>" alt="Post Image" style="max-width: 100%;" />
  <% end %>

  <p>Regards, <%= @user.username %>,</p>
    <p>
          &copy; Western Ambience Bliss Hotel - All rights reserved.
        </p>
</body>
</html>